
.container {
    margin: 100px 0 0 50px;
    width: 1000px;
    height: 400px;
    background-color: #eee;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: repeat(2,225px) 50%;
    grid-template-rows:1fr 100px;
    grid-gap:20px ;
}

.items {
    font-size: 30px;
}


.item-1 {
    background-color: yellowgreen;
}
.item-2 {
    background-color: orangered;
}
.item-3 {
    background-color: palevioletred;
}
.item-4 {
    background-color: blueviolet;
}
.item-5 {
    background-color: goldenrod;
}
.item-6 {
    background-color: olivedrab;
}