
.container {
    margin: 100px 0 0 200px;
    width: 700px;
    background-color: #eee;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: 200px 150px auto;
    grid-template-rows: 100px 150px 100px;
}

.items {
    font-size: 30px;
}


.item-1 {
    background-color: yellowgreen;
}
.item-2 {
    background-color: orangered;
}
.item-3 {
    background-color: palevioletred;
}
.item-4 {
    background-color: blueviolet;
}
.item-5 {
    background-color: goldenrod;
}
.item-6 {
    background-color: olivedrab;
}