* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.pappa {
    width: 100vw;
    min-height: 80vh;
    border: 10px solid #000;
    display: grid;
    /* grid-template-columns: repeat(2, auto); */
    grid-template-areas: 'Ahmed Ahmed Ahmed Ahmed Bonus Hassan';

}

.bachay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 2px solid blue;
}


#one {
    grid-area:Ahmed;
    grid-column:1 /  5;
}

#two {
    grid-area:"Bonus";
    grid-column:1 / span 3;
    grid-row:2 / span 2;
}


#three {
    grid-area:Hassan;
    grid-row:1 / span 3;
} 